  
  <div class = "container">
    <hr>
    <div  class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1  col-md-offset-2" [ngStyle]="{'opacity':isOpen ? '0.4' : '1' }"> 
          <div class="row mt-3">
              <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
  
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-12">
                      <input class="form-control input-lg" type="text" placeholder="Search" type="text" [(ngModel)]="searchText" >
                    </div>
                      <button  class="btn btn-primary">Search</button>
                    </div>
                   </div>
              </div>   
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th *ngFor="let item of cols;" scope="col">{{item}}</th>
                <th></th>
              </tr>
            </thead>
  
            <tbody>
                <tr *ngFor="let row of rowDetailsArr | filter: searchText; let i = index" style="cursor: pointer;">
                <th scope="row"></th>
                <td *ngFor="let col of cols; let j = index">{{row[col]}}</td>
              <td>
                  <div lass="btn-group" role="group" aria-label="Toolbar with button groups">
                    <a style = "cursor:pointer" class="btn btn-default">
                      <div class="edit" (click)="editRow(i)">
                      </div>
                    </a>
                    
                    <a style = "cursor:pointer"  class="btn btn-default">
                      <div class="delete" (click)="onDeleteRow(i)">
                    </div>
                  </a>
                </div>
              </td>
              </tr>
  
              <div class = "add-btn-bottom">
                  <button class ="btn btn-success" id="but_add" (click)="openModal()" > <a href="javascript:void(0)" class="btn btn-default">
                      <div class="icons8-plus" >
                  </div>
              </a>Add</button>
            </div>
  
            </tbody>
          </table>
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            </div>
          </div>
          </div>
    </div>
  
  
   
  
          
  