<!--<app-trans-input></app-trans-input>-->

<div class="container pt-5" style = "margin-left:30px;" >

  <div class="row d-flex justify-content-start">
    <form [formGroup]="transForm" (ngSubmit)="onSubmit()">
    <ul class="transaction-transaction-tree">
      <!--<div class="form-group row">-->

      <li *ngFor="let p of transTree | keyvalue; let b = index" style="list-style-type: none;" id="transaction-row-li">
        <input type="checkbox" checked="checked" style="display:none" id="{{'b'+b}}" />
        

        <label *ngIf="p.value.length !== 0" class="transaction-tree_label" for="{{'b'+b}}">

              {{p.key}}
        </label>
        


        <label *ngIf="p.value.length === 0" class="transaction-tree_label--empty" for="{{'b'+b}}">
        {{p.key}}
        </label>
                <!--<input type="text" class="form-control row-input-transaction" rows="2" aria-label="Text input with segmented dropdown button">-->

      
      <button  [hidden]="p.value.length === 0" type= "button" class = "btn btn-danger">...</button>
      <!--</div>-->

        <ul style="list-style-type: none;">

          <li *ngFor="let i of p.value | keyvalue;" class="row-transaction">
            <label style = "width:24%;font-size: 0.7em;" class="list-group-item list-group-item-action list-group-item-light " class="transaction-tree_label2"
              for="{{b}}">
              <a href="#" class="list-group-item list-group-item-action list-group-item-light" style = "border-color: #F2F2F2; ">{{i.value}}</a>
            </label>

            <input type="text" class="form-control row-input-transaction" rows="2" aria-label="Text input with segmented dropdown button">

          </li>
        </ul>
      </li>
      </ul>
    </form>
  </div>
</div>